html {
	font-size: 10px;
}
body {
	background-color: #282828;
}

.one {
	width: 100%;
	height: 52.3rem;
	background-color: white;
	margin-top: 13rem;
	margin-bottom: 13rem;
}
.two {
	width: 100%;
	height: 43rem;
position: relative;
}


.three {
	text-align: center;
	width: 20%;
	height: 100%;
	background-color: #c60b0b;
	position: absolute;
	bottom: 0%;
	left: 15%;
	font-size: 1.8rem;
}
.four {

}
@media (max-width: 767px) {
	h1, p, a {
		font-size: 1.6rem;
	}

}


